*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
.container{
    max-width: 1250px;
    margin: auto;
color: aliceblue;
    
}
nav{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 7px,2px;
    background-color: rgba(26,11,46,1);
    border-bottom:2px; border-style: solid;border-color: floralwhite;
    
    
    
}
nav>div{
    display: flex;
    gap: 5px;
    align-items: center;
}
nav>div>h1{
    font-weight: 700;
    font-size: 26px;
}
.tech{
    padding-left: 50px;
    font-size: 40px;
    font-weight: bold;
}

.wave{
    background:linear-gradient(90deg,
     dodgerblue,blue,purple);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
nav>ul{
    display: flex;
    gap: 15px;
    align-items: center;
    list-style: none;
    
}
nav>ul li a{
    text-decoration: none;
    color: aliceblue;
}
.btn{
    cursor: pointer;
    border-radius: 10px;
    padding:16px,32px;
    border: none;
    color: aliceblue;
    background:linear-gradient(to right,
    rgba(247,233,63,1),
    rgba(251,9,180,1),
    rgba(145,0,248,1)
    );
    width: 150px;
    height: 30px;
    
}
#fix{
    margin-top: 30px;
    margin-right: 30px;
    margin-bottom: 25px;
}
.left{
    display: flex;
    gap: 20px;
    margin-left: 70px;
}
.hamburger{
    display: none;
    font-size: 30px;
    cursor: pointer;
}
.banner-section{
    background-image: url(../assets/hero-bg.png);
    min-height: 500px;
    display: flex;
 background-repeat:no-repeat;
 align-items: center;
 text-align: center;
 justify-content: center;
 color: aliceblue;
 background-size: cover;
}
.banner-section>div>h2{
    font-weight: 700;
    font-size: 32px;
}
.banner-section>div{
    display: flex;
    flex-direction:column;
    gap: 10px;
}

.btn2{
    width: 100px;
    height: 30px;
    border-color: green; border-style: solid;
    color: green;
    border-radius: 10px;
    padding: 16px,32px;
    background-color: #1A0B2E;
}
.banner-section .rounded-mic-parent{
    position: relative;
}
.banner-section .rounded-mic-parent .rounded-shape{

    width: 270px;
    height: auto;
} 

.banner-section .rounded-mic-parent .mic{
    height: auto;
    width: 85px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.banner-section .rounded-mic-parent span{
    background-color: #00FF88;
    color: black;
    font-weight: 700;
    padding: 10px , 20px;
    border-radius: 10px;
    display:inline-block;
    position: absolute;
    left: 280px;
    top: -5px;
    width: 40px;
    height: 20px;
    
}
.anime{
    transition: transform  1s ease-out;
}
.anime:hover{
    transform: scale(1.5);
}

.lily{
    background-color: #1A0B2E;
    margin: auto;
    padding-bottom: 30px;
    max-width: 1250px;
}
.text{
    text-align: center;
    color: aliceblue;

    
}
.text>h2{
    margin-bottom: 15px;
}
.gap{
    margin-bottom: 20px;
}
.box{
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    color: #00FF88;
}
.star{
    display: inline-block;
    text-align:center ;
}
.label{
    font-size: 12px;
    white-space: nowrap;
}
.gap2{
    padding-bottom: 30px;
}
.annoyed{
    background: #1A0B2E;
    color: aliceblue;
    max-width: 1250px;
    margin:auto;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ugh{
    display: grid;
    gap: 40px;
    border-radius: 20px;
    padding: 20px;
    box-shadow: blueviolet;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: 150px;
    margin: 0 auto;

    width: 100%;
    align-items: stretch;
    
    
}
.one{
    grid-column: span 1;
    grid-row: span 2;
    padding:40px;
    border: 2px; border-radius: 15px; border-style: solid; border-color:purple;
    box-shadow: #1A0B2E;

}
.one>img{
    margin-bottom: 15px;
}
.one>h4{
    margin-bottom: 20px;
}
.two{
    grid-column: span 2;
    grid-row: span 1;
    padding: 20px;
        border: 2px; border-radius: 15px; border-style: solid; border-color:purple;
    box-shadow: #1A0B2E;
    height: auto;
    
    

}
.two>p{
    margin: 0;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    position: static;
}
.two>img{
    margin-bottom: 5px;
}
.two>h4{
    margin-bottom: 5px;
}
.five>img{
    margin-bottom: 3px;
}
.five{
    grid-column: span 1;
    grid-row: span 1;        border: 2px; border-radius: 15px; border-style: solid; border-color:purple;

padding: 8px;
    box-shadow: #1A0B2E;

}
.five>h4{
    margin-bottom: 3px;
}

.annoyed>h1{
    text-align: center;
    margin-bottom: 40px;
    
}

.featured{
    background: #1A0B2E;
    color: aliceblue;
    max-width: 1250px;
    margin: auto;
}
.featured>h1{
    text-align: center;
}
.episode{
    background-color: #1A0B2E;
    padding: 20px;
    border-radius: 10px;
    
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    box-shadow: #1A0B2E;
}
.video{
    border: 2px; border-style: solid; border-color: purple;
    gap: 2px;
    padding: 20px;
    border-radius: 15px;
}
.video>h2{
    margin-bottom: 5px;
}
.video>p{
    margin-bottom: 5px;
}
.green{
    color: #00FF88;
}
.flex{
    display: flex;
    align-items: center;
}
.cake{
    display: flex;
    align-items: center;
    gap: 4px;
}
.host{
    background: #1A0B2E;
    margin: auto;
    color: aliceblue;
    max-width: 1250px;
    
    
    
}
.alex{
    border: 2px; border-style: solid; border-color: purple;
  
  border-radius: 15px;  margin-left: 120px;
  margin-right: 120px;
  
  display: flex;
  padding: 40px;

}

.host-info{
    margin-left: 15px;
    margin-top: 25px;
}
.host>h1{
    text-align: center;
    margin-bottom: 10px;
}
.host-info>h2{
    margin-bottom: 10px;
}
.host-info>p{
    margin-bottom: 8px;
}
.icons{
    display: flex;
    align-items: center;
    gap: 5px;
}
.fruty{
    position: relative;
    max-width: 1250px;
    margin: auto;

}
.fruty>img{
    width: 100%;
    object-fit: cover;
    display: block;
}
.end{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: aliceblue;
}
.cheese{
    font-weight:bolder;
    font-size: 55px;
    margin-bottom: 18px;
}
.tibet{
    display:grid;
    grid-template-columns: repeat(1,1fr);
    align-items: center;
    gap:30px;
    
}
.break{
    display: flex;
    gap: 10px;
}
.end>p{
    margin-top: 25px;
}
.cool{
    position: relative;
}
.cool>iframe{
    width: 100%;
    height: 100%;
}
.cooler{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
    width: 80px;
}
@media  screen and (max-width:576px) {
    
    .hamburger{
        display: block;
    }
    .container{
        
        width: 100%;
        max-width: 576px;
    }
    .slay{
        display: none;
    }


    #fix{
        display: none;
    }
    .box{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 15px;
    }
    .ugh{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 10px;
        
    }
    .episode{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 15px;
    }
    .alex{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 15px;
        text-align: center;
        margin: auto;
        padding: 20px;
        width: 90%;
        max-width: 360px;
        border-radius: 20px;
        justify-items: center;
    }
    
    .alex-png{
        width: 120px;
        height: 120px;
        object-fit: cover;
        justify-content: center;

    }     
   .icons{
    display: flex;
    justify-content: center;
    gap: 15px;
   } 


.gloss{
    height: 248px;
    
}
.end>p{
    white-space: nowrap;
}
.cha{
    white-space: nowrap;
    padding-left: 20px;
}
  .break{
    display: flex;
    align-items: center;
    
  } 
  .tibet{
    padding-right: 40px;
  }
   .banner-section .rounded-mic-parent span{
    top:20px ;
    left: 270px;
   }



  
}
    
